<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>首頁</title>
    <link rel="stylesheet" href="./assets/style/reset.css" />
    <link rel="stylesheet" href="./assets/style/all.css" />
    <link rel="stylesheet" href="./assets/style/question.css" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined"
      rel="stylesheet"
    />
  </head>

  <body>
    <nav class="nav">
      <div class="container navbar">
        <a href="index.html"
          ><img
            class="nav-logo"
            src="./assets/images/logo-white.png"
            alt="logo"
        /></a>
        <ul class="nav-info">
          <li class="information"><a href="#">系列鏡框</a></li>
          <li class="information"><a href="#">門市據點</a></li>
          <li class="information"><a href="#">部落格</a></li>
          <li class="information"><a href="question.html">常見問題</a></li>
        </ul>
      </div>
    </nav>

    <%- contents %>

    <footer class="footer">
      <div class="container">
        <div class="footer-first">
          <ul class="hide">
            <li><a href="#">首頁</a></li>
            <li><a href="#">系列鏡框</a></li>
            <li><a href="#">門市據點</a></li>
            <li><a href="#">部落格</a></li>
            <li><a href="question.html">常見問題</a></li>
          </ul>
          <div class="forPosition">
            <a href=""><img src="./assets/images/ic-social-fb.png" alt="" /></a>
            <a href=""><img src="./assets/images/ic_social_ig.png" alt="" /></a>
            <a href=""
              ><img src="./assets/images/ic_social_line.png" alt=""
            /></a>
          </div>
        </div>
        <div class="phoneNumber">
          <span class="material-icons-outlined material-icons-size">
            call
          </span>
          <p>0800-000-000</p>
        </div>
        <div class="eMail">
          <span class="material-icons-outlined material-icons-size">
            email
          </span>
          <p>glasses@business.com</p>
        </div>
        <div class="copyright">
          <div class="copyright-info">
            <span> Copyright © 2020 Glasses.All rights reserved. </span>
          </div>
          <div class="copy-a">
            <div class="forMargin"><a href="#">隱私權政策</a></div>
            <div class="forMargin"><a href="#">服務條款</a></div>
          </div>
        </div>
      </div>
    </footer>
    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>
  </body>
</html>
